.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

  h1 {
    font-size: 2rem;
    margin-bottom: 16px;
    color: #007bff;

  }

  p {
    font-size: 1.2rem;
    margin-bottom: 8px;
    color: #666;
  }

  mat-form-field {
    margin-top: 16px;
    width: 100%;
  }
    input {
      font-size: 1.2rem;
      color: #333;
    }


  button {
    margin-top: 16px;
    background-color: #007bff;
    color: #fff;
  }

