<div class="container">
  <h1>Bienvenido!</h1>
  <p>Este es el email indentificado</p>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" disabled />
  </mat-form-field>
  <p>Ingrese password</p>
  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password"  type="password"  />
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="confirmEmail()">Confirmar email y password</button>
</div>
